node_modules/
.pnpm-store/
.env
.env.local
.DS_Store
dist/
build/
out/
cache/
*.log
*.tsbuildinfo
*.d.ts
packages/*/vite.config.js
packages/*/tailwind.config.js

# Foundry
broadcast/
lib/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
